/* CORE STRUCTURE */
body {
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    display: flexbox;
    flex-direction: row;
    border: 1px solid;
}

main {
    flex: auto;
    background-color:rgb(246, 246, 235);
    padding:15px;
}
header {
    background-color: lightgray;
    height: 5em;
    text-align: center;
    padding: 15px;
}
footer {
    padding: .5em;
}
button {

    padding: .5em;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid black;
}

input {
    margin-top: 10px;
    margin-left:15px;
}

/* CLASSES and IDS */
.comments {
    color:red;
    font-size: .8em;
    font-style: italic;
    font-weight:bold;
    margin: 15px;
}

.required {
    color: red;
    border: dashed 2px
}
#inputs {
    height: auto;
    margin-left: 10px;
}

.budget {
    background-color: rgb(194, 245, 245);
    font-size: 20px;
    text-indent: 60%;
}
.over-budget {
    background-color: red;
    font-size: 30px;
    text-indent: 50%;
}

#submitBtn {
    margin-top: 10px;
    margin-right: 20%;
    text-align: right;
}

.data {
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
}

/* TABLE */
table {
    width: 90%;
    text-align: left;  

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
}
th, td {
    padding: .5em;
    min-width: 2.5em;
}
thead{
    background: rgb(231, 225, 147);
    color:rgb(20, 23, 23);
}
tbody tr:nth-child(odd) {
    background: whitesmoke;
}
tbody tr:nth-child(even) {
    background:lightgoldenrodyellow;
}